{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/external/images/favicon.ico">

    <script type="module" src='{{assetPath "app/main.js"}}'></script>


    <link rel="stylesheet" href="/static/vendor/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="/static/css/vendors/simplebar.css">

    <link href="/static/css/style.min.css" rel="stylesheet">
    <link href='{{assetPath "scss/app.scss"}}' rel="stylesheet">

    <link href="/static/vendor/@coreui/icons/css/free.min.css" rel="stylesheet">


    <title>{{.ProductTitle}} - {{.Title}}</title>

    <script type="text/javascript">
        const CSRF_TOKEN = '{{.CSRFToken}}';
        const CSRF_NAME = '{{.CSRFName}}';
    </script>

</head>

<body>
    <!-- Placed at the end of the document so the pages load faster -->
    {{if not .HideHeaderAndFooter}}
    {{template "header" .}}
    {{end}}
    {{template "body" .}}
    {{template "scripts" .}}
    {{if not .HideHeaderAndFooter}}
    {{template "footer" .}}
    {{end}}
</body>

</html>
{{ end }}
