{{define "footer"}}
</div> <!-- div body Content -->


<!-- Footer -->
<div class="mx-auto block display-block flex-row">
    <footer class="page-footer font-small blue pt-4">
        <p class="text-center">&copy; {{.CurrentYear}} {{.CopyrightFooterCompany}}. All Rights Reserved. </p>
    </footer>
</div>

</div>

<script src="/static/vendor/@coreui/coreui-pro/js/coreui.bundle.min.js"></script>
<script src="/static/vendor/simplebar/js/simplebar.min.js"></script>

<script src="/static/vendor/@coreui/utils/js/coreui-utils.js"></script>
<script src="/static/js/tooltips.js"></script>


{{end}}
