PRODUCT_TITLE=API Scanner
SERVER_ADDRESS=0.0.0.0:8080
DATABASE_URI=root:@(:3306)/api_db?charset=utf8&parseTime=True&loc=Local
DBMS_TYPE=mysql
COPYRIGHT_FOOTER_COMPANY=Cyber Security & Privacy Foundation

WORK_DIR=/app/data/
# The temp_uploads should be in the same device as the WORK_DIR(or docker gives invalid-cross)
TEMP_UPLOADS_DIR=/app/data/temp_uploads/

MIGRATIONS_PREFIX=db
LOG_FILENAME=logfile
LOG_LEVEL=info

# TLS Configuration
USE_TLS=true

CERT_PATH=/app/certs/panel.crt
KEY_PATH=/app/certs/panel.key
#CERT_PATH=./certs/panel.crt
#KEY_PATH=./certs/panel.key
